body {
	background-color: white;
}

header {
	max-width: 980px;
	padding: 0 10px;
	margin: 0 auto 1rem auto;

	display: flex;
	justify-content: space-between;

	a {
		color: black;
		text-decoration: none;
	}

	nav a {
		display: block;
		color: #555;
		text-decoration: none;
		padding: 0.5rem 1rem;
		align-self: center;

		&:hover {
			color: black;
		}
	}
}

main {
	max-width: 980px;
	padding: 0 10px;
	margin: auto;
}

.posts a {
	display: block;
	color: initial;
	text-decoration: none;
}

.postLink {
	margin: 1rem 0;
}

.post {
	padding: 0.5rem 0;

	h3 {
		margin: 1rem 0 0.25rem 0;
	}

	p {
		margin: 0 0 0.5rem 0;
	}

	blockquote {
		border-left: 3px solid #ff8000;
		padding-left: 10px;
	}
}
