<!DOCTYPE html>
<html lang="et">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="stylesheet" href="{{ get_url(path="style.css", cachebust=true) }}" media="all">
		<link rel="stylesheet" href="{{ get_url(path="preflight.css", cachebust=true) }}" media="all">
		<link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">

		<title>Minu Blogi</title>
	</head>
	<body>
		<header>
			<a href="{{ get_url(path="/") }}">
				<h1>Blogi</h1>
			</a>
			<nav>
				<a href="{{ get_url(path="/") }}">Postitused</a>
			</nav>
		</header>
		<main>
		{% block content %}
		{% endblock content %}
		</main>
	</body>
</html>
