{% extends "base.html" %}

{% block content %}
<div class="posts">
	{% for page in section.pages %}
	<a class="postLink" href="{{ page.permalink }}">
		<h2>{{ page.title }}</h2>
		<span>{{ page.date }}</span>
		<p class="post">{{ page.summary|striptags }}</p>
		Loe edasi..
	</a>
	{% endfor %}
</div>
{% endblock content %}

