{% extends "base.html" %}

{% block content %}
<div>
	<h2>{{ page.title }}</h2>
	<span>{{ page.date }}</span>
	<div class="post">
		{{ page.content|replace(from="h1",to="h3")|safe }}
	</div>
</div>
{% endblock content %}
